In [123]:
print ("Hello World")

Hello World

## Basic Operators

In [124]:
10 + 5 * 3

25

In [125]:
(10 + 5) * 3

45

In [126]:
20 / 4

5.0

In [127]:
20 // 4

5

In [128]:
21//4

5

In [129]:
21 % 4

1

In [130]:
5 ** 5

3125

In [131]:
5 + 3 * 2 - 8 / 4 ** 2

10.5

In [132]:
50 > 100

False

In [133]:
33 == 33.0

True

In [134]:
'hello' != 'world'

True

In [135]:
len("python") >= 5

True

## Variables and Data Types

In [136]:
city = 'New York'
print (city)

New York

In [137]:
city = 'New York'
city = city.replace ('New York', 'London')
print(city)

London

In [138]:
score = 100
score -= 25
score *= 2
score

150

1st_place # false

first-place # false

_first_place

for # false

FirstPlace

In [141]:
99 # integer
"99" # string
99.0 # float
False # bool
None # NoneType

In [142]:
price_str = "25.99"
price_float = float(price_str)
print (price_str)
print (price_float)

25.99
25.99

In [143]:
quantity = 3
quantity = str(quantity)
quantity

'3'

In [144]:
print (quantity + " " + 'items.')

3 items.

## Strings in Detail

In [145]:
first_name = "Asgar"
last_name = "Aliyev"
full_name = first_name + " " + last_name
separator = "-"*30
print(full_name + " " + separator)

Asgar Aliyev ------------------------------

In [146]:
print("The file is located at: \nC:\\Users\\new_folder\\tabbed_file.txt \nhe said, \"It's a beautiful day.\" ")

The file is located at:
C:\Users\new_folder\tabbed_file.txt
he said, "It's a beautiful day."

In [147]:
print("The file is located at:" "\n" r"C:\Users\new_folder\tabbed_file.txt " "\n" "he said, r""It's a beautiful day.\"")

The file is located at:
C:\Users\new_folder\tabbed_file.txt
he said, rIt's a beautiful day."

In [148]:
print("""The file is located at:
C:\\Users\\new_folder\\tabbed_file.txt
he said, "It's a beautiful day." """)

The file is located at:
C:\Users\new_folder\tabbed_file.txt
he said, "It's a beautiful day."

In [149]:
s = "Programming is fun!"
print (s[3])

g

In [150]:
print(s[-1])

!

In [151]:
print(s[11:13])

 i

In [152]:
print(s[3:7])

gram

In [153]:
print(s[::-1])

!nuf si gnimmargorP

In [154]:
tweet = ' WOW, what a great game! #sports #python '

In [155]:
tweet = tweet.lower()
tweet

' wow, what a great game! #sports #python '

In [156]:
print(tweet.strip())

wow, what a great game! #sports #python

In [157]:
tweet.replace("#python", "#DataScience")

' wow, what a great game! #sports #DataScience '

In [158]:
tweet.split()

['wow,', 'what', 'a', 'great', 'game!', '#sports', '#python']

## Basic Input and Output

In [159]:
name = (input("What is your Name:"))

In [160]:
print("Hello" +' ' + name + "!")

Hello Asgar!

In [161]:
year = int(input ('Year:'))
birth = int(input ('Birth year:'))
age = year - birth
print ('your age:' , age)

your age: 20

In [162]:
item = "laptop"
price = 1200.50
quantity = 2
total_cost = price * quantity
print (f"item: {item}, \nquantity: {quantity}, \ntotal cost: {total_cost}$")

item: laptop,
quantity: 2,
total cost: 2401.0$

# 1.2: Data Structures and Control Flow - Exercises

## Lists

In [222]:
colors = ['red', 'green', 'blue', 'yellow', 'purple']
print (colors)

['red', 'green', 'blue', 'yellow', 'purple']

In [223]:
colors

['red', 'green', 'blue', 'yellow', 'purple']

In [224]:
print(colors[2])

blue

In [225]:
print (colors[::-1])

['purple', 'yellow', 'blue', 'green', 'red']

In [226]:
print (colors[-1])

purple

In [227]:
primary_colors = colors[0:3]
print (primary_colors)

['red', 'green', 'blue']

In [228]:
colors_str= str(colors)
colors_str.replace("yellow", "magenta")

"['red', 'green', 'blue', 'magenta', 'purple']"

In [232]:
colors = ['red', 'green', 'blue', 'yellow', 'purple']
colors[colors.index("yellow")] = "magenta"
print (colors)

['red', 'green', 'blue', 'magenta', 'purple']

In [248]:
colors = ['red', 'green', 'blue', 'yellow', 'purple']
colors[3] = "magenta"
colors.append('cyan')
colors.insert(1, 'orange')
colors.remove('blue')
print (colors)

['red', 'orange', 'green', 'magenta', 'purple', 'cyan']

In [260]:
tic_tac_toe = [['X', 'O', 'X'], ['O', 'X', 'O'], ['X', 'O', ' ']]

In [261]:
print (tic_tac_toe [1][1])

X

In [262]:
tic_tac_toe[2][2] = 'O'

In [264]:
print(tic_tac_toe)

[['X', 'O', 'X'], ['O', 'X', 'O'], ['X', 'O', 'O']]

## Tuples

In [271]:
weekdays = ('monday', 'tuesday', 'wednesday', 'thursday', 'friday')
# errorrrrrr 
weekdays = ['monday', 'tuesday', 'wednesday', 'thursday', 'friday']
weekdays[0] = 'funday'
print(weekdays[3])
print (weekdays)

thursday
['funday', 'tuesday', 'wednesday', 'thursday', 'friday']

## Conditional Statements

In [304]:
grade = int(input ("Enyer your grade (0-100): "))
if 90<= grade <=100 :
    print ("A")
elif 80<= grade <=89 :
    print ("B")
elif 70<= grade <=79 :
    print ("C")
elif 60<= grade <=69 :
    print ("D")
elif 0<= grade <60 :
    print("F")
else:
    print ("r u sure?!")

r u sure?!

In [313]:
grade1 = 95
grade2 = 82
grade3 = 78
grade4 = 61
grade5 = 45

if 90<= grade1 <=100 :
    print ("A")
elif 80<= grade1 <=89 :
    print ("B")
elif 70<= grade1 <=79 :
    print ("C")
elif 60<= grade1 <=69 :
    print ("D")
elif 0<= grade1 <60 :
    print("F")
else:
    print ("r u sure?!")

if 90<= grade2 <=100 :
    print ("A")
elif 80<= grade2 <=89 :
    print ("B")
elif 70<= grade2 <=79 :
    print ("C")
elif 60<= grade2 <=69 :
    print ("D")
elif 0<= grade2 <60 :
    print("F")
else:
    print ("r u sure?!")

if 90<= grade3 <=100 :
    print ("A")
elif 80<= grade3 <=89 :
    print ("B")
elif 70<= grade3<=79 :
    print ("C")
elif 60<= grade3 <=69 :
    print ("D")
elif 0<= grade3 <60 :
    print("F")
else:
    print ("r u sure?!")

if 90<= grade4 <=100 :
    print ("A")
elif 80<= grade4 <=89 :
    print ("B")
elif 70<= grade4 <=79 :
    print ("C")
elif 60<= grade4 <=69 :
    print ("D")
elif 0<= grade4 <60 :
    print("F")
else:
    print ("r u sure?!")

if 90<= grade5 <=100 :
    print ("A")
elif 80<= grade5 <=89 :
    print ("B")
elif 70<= grade5 <=79 :
    print ("C")
elif 60<= grade5 <=69 :
    print ("D")
elif 0<= grade5 <60 :
    print("F")
else:
    print ("r u sure?!")

A
B
C
D
F

In [315]:
print((10 > 5) and (5 < 3))
print((10 > 5) or (5 < 3))
print(not (5 == 5))
print(1 < 3 < 5)
print(1 < 3 and 3 > 5)

False
True
False
True
False

## Loops

In [4]:
list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for even in list:
    if even % 2 == 0:
        print(even)

2
4
6
8
10

In [26]:
a = 10
while a > 0:
    print(a)
    a-=1
print('liftoff!')

10
9
8
7
6
5
4
3
2
1
liftoff!

In [42]:
i = 0
for i in range(1, 21):
    if i % 3 == 0:
        continue
    if i > 15:
        break
    print(i)

1
2
4
5
7
8
10
11
13
14

In [45]:
words = ['apple', 'banana', 'cherry']
for first_letter in words:
    print(first_letter[0])

a
b
c

In [55]:
numbers = [1, -2, 3, -4 , 5, -6, 7, -8]
for positive in numbers :
    if positive > 0:
        print(positive)
    else:
        print('negative')

1
negative
3
negative
5
negative
7
negative

In [67]:
matrix = [[1 , 2], [3 , 4], [5 , 6]]
for num in matrix: 
    for doubled in num:
        print(doubled*2)

2
4
6
8
10
12

In [70]:
matrix = [[1 , 2], [3 , 4], [5 , 6]]
doubled = [num*2 for r in matrix for num in r]
print(doubled)

[2, 4, 6, 8, 10, 12]

# 1.3: Advanced Data Structures and Functions - Exercises

## Dictionaries

In [64]:
movie = {
    'title':'harry potter',
    'director':'j.k rowling',
    'year': 1997,
    'genre':'fantasy literature',
}

In [65]:
print(movie['title'])
print(movie['genre'])
print(movie['year'])
print(movie['director'])

harry potter
fantasy literature
1997
j.k rowling

In [66]:
movie['rating'] = 9.9
movie

{'title': 'harry potter',
 'director': 'j.k rowling',
 'year': 1997,
 'genre': 'fantasy literature',
 'rating': 9.9}

In [67]:
movie['year'] = f'November {16}, {2001}'
movie

{'title': 'harry potter',
 'director': 'j.k rowling',
 'year': 'November 16, 2001',
 'genre': 'fantasy literature',
 'rating': 9.9}

In [68]:
del movie['genre']

In [69]:
print(movie)

{'title': 'harry potter', 'director': 'j.k rowling', 'year': 'November 16, 2001', 'rating': 9.9}

In [70]:
movie.keys()

dict_keys(['title', 'director', 'year', 'rating'])

In [71]:
movie.values()

dict_values(['harry potter', 'j.k rowling', 'November 16, 2001', 9.9])

In [72]:
m = movie.items()
m

dict_items([('title', 'harry potter'), ('director', 'j.k rowling'), ('year', 'November 16, 2001'), ('rating', 9.9)])

In [73]:
for i in m:
    print(i)

('title', 'harry potter')
('director', 'j.k rowling')
('year', 'November 16, 2001')
('rating', 9.9)

In [74]:
a = [(56,11),(12,3),(13,4),[1,22,3]]
for _ in a:
    print(_)

(56, 11)
(12, 3)
(13, 4)
[1, 22, 3]

In [90]:
if movie.get('producer'):
    print(movie['producer'])
else:
    print('unknown')

unknown

In [91]:
if movie.get('year'):
    print(movie['year'])
else:
    print('unknown')

November 16, 2001

In [ ]:
if