In [38]:
print ("Hello World")

Hello World

## Basic Operators

In [39]:
10 + 5 * 3

25

In [40]:
(10 + 5) * 3

45

In [41]:
20 / 4

5.0

In [42]:
20 // 4

5

In [43]:
21//4

5

In [44]:
21 % 4

1

In [45]:
5 ** 5

3125

In [46]:
5 + 3 * 2 - 8 / 4 ** 2

10.5

In [47]:
50 > 100

False

In [48]:
33 == 33.0

True

In [49]:
'hello' != 'world'

True

In [50]:
len("python") >= 5

True

## Variables and Data Types

In [51]:
city = 'New York'
print (city)

New York

In [52]:
city = 'New York'
city = city.replace ('New York', 'London')
print(city)

London

In [53]:
score = 100
score -= 25
score *= 2
score

150

1st_place # false

first-place # false

_first_place

for # false

FirstPlace

In [54]:
99 # integer
"99" # string
99.0 # float
False # bool
None # NoneType

In [55]:
price_str = "25.99"
price_float = float(price_str)
print (price_str)
print (price_float)

25.99
25.99

In [56]:
quantity = 3
quantity = str(quantity)
quantity

'3'

In [57]:
print (quantity + " " + 'items.')

3 items.

## Strings in Detail

In [58]:
first_name = "Asgar"
last_name = "Aliyev"
full_name = first_name + " " + last_name
separator = "-"*30
print(full_name + " " + separator)

Asgar Aliyev ------------------------------

In [59]:
print("The file is located at: \nC:\\Users\\new_folder\\tabbed_file.txt \nhe said, \"It's a beautiful day.\" ")

The file is located at:
C:\Users\new_folder\tabbed_file.txt
he said, "It's a beautiful day."

In [60]:
print("The file is located at:" "\n" r"C:\Users\new_folder\tabbed_file.txt " "\n" "he said, r""It's a beautiful day.\"")

The file is located at:
C:\Users\new_folder\tabbed_file.txt
he said, rIt's a beautiful day."

In [61]:
print("""The file is located at:
C:\\Users\\new_folder\\tabbed_file.txt
he said, "It's a beautiful day." """)

The file is located at:
C:\Users\new_folder\tabbed_file.txt
he said, "It's a beautiful day."

In [62]:
s = "Programming is fun!"
print (s[3])

g

In [63]:
print(s[-1])

!

In [64]:
print(s[11:13])

 i

In [65]:
print(s[3:7])

gram

In [66]:
print(s[::-1])

!nuf si gnimmargorP

In [67]:
tweet = ' WOW, what a great game! #sports #python '

In [68]:
tweet = tweet.lower()
tweet

' wow, what a great game! #sports #python '

In [69]:
print(tweet.strip())

wow, what a great game! #sports #python

In [70]:
tweet.replace("#python", "#DataScience")

' wow, what a great game! #sports #DataScience '

In [71]:
tweet.split()

['wow,', 'what', 'a', 'great', 'game!', '#sports', '#python']

## Basic Input and Output

In [72]:
name = (input("What is your Name:"))

In [73]:
print("Hello" +' ' + name + "!")

Hello Asgar!

In [74]:
year = int(input ('Year:'))
birth = int(input ('Birth year:'))
age = year - birth
print ('your age:' , age)

your age: 20

In [75]:
item = "laptop"
price = 1200.50
quantity = 2
total_cost = price * quantity
print (f"item: {item}, \nquantity: {quantity}, \ntotal cost: {total_cost}$")

item: laptop,
quantity: 2,
total cost: 2401.0$

# 1.2: Data Structures and Control Flow - Exercises

## Lists

In [76]:
colors = ['red', 'green', 'blue', 'yellow', 'purple']
print (colors)

['red', 'green', 'blue', 'yellow', 'purple']

In [77]:
colors

['red', 'green', 'blue', 'yellow', 'purple']

In [78]:
print(colors[2])

blue

In [79]:
print (colors[::-1])

['purple', 'yellow', 'blue', 'green', 'red']

In [80]:
print (colors[-1])

purple

In [81]:
primary_colors = colors[0:3]
print (primary_colors)

['red', 'green', 'blue']

In [82]:
colors_str= str(colors)
colors_str.replace("yellow", "magenta")

"['red', 'green', 'blue', 'magenta', 'purple']"

In [83]:
colors = ['red', 'green', 'blue', 'yellow', 'purple']
colors[colors.index("yellow")] = "magenta"
print (colors)

['red', 'green', 'blue', 'magenta', 'purple']

In [84]:
colors = ['red', 'green', 'blue', 'yellow', 'purple']
colors[3] = "magenta"
colors.append('cyan')
colors.insert(1, 'orange')
colors.remove('blue')
print (colors)

['red', 'orange', 'green', 'magenta', 'purple', 'cyan']

In [85]:
tic_tac_toe = [['X', 'O', 'X'], ['O', 'X', 'O'], ['X', 'O', ' ']]

In [86]:
print (tic_tac_toe [1][1])

X

In [87]:
tic_tac_toe[2][2] = 'O'

In [88]:
print(tic_tac_toe)

[['X', 'O', 'X'], ['O', 'X', 'O'], ['X', 'O', 'O']]

## Tuples

In [89]:
weekdays = ('monday', 'tuesday', 'wednesday', 'thursday', 'friday')
# errorrrrrr 
weekdays = ['monday', 'tuesday', 'wednesday', 'thursday', 'friday']
weekdays[0] = 'funday'
print(weekdays[3])
print (weekdays)

thursday
['funday', 'tuesday', 'wednesday', 'thursday', 'friday']

## Conditional Statements

In [90]:
grade = int(input ("Enyer your grade (0-100): "))
if 90<= grade <=100 :
    print ("A")
elif 80<= grade <=89 :
    print ("B")
elif 70<= grade <=79 :
    print ("C")
elif 60<= grade <=69 :
    print ("D")
elif 0<= grade <60 :
    print("F")
else:
    print ("r u sure?!")

A

In [91]:
grade1 = 95
grade2 = 82
grade3 = 78
grade4 = 61
grade5 = 45

if 90<= grade1 <=100 :
    print ("A")
elif 80<= grade1 <=89 :
    print ("B")
elif 70<= grade1 <=79 :
    print ("C")
elif 60<= grade1 <=69 :
    print ("D")
elif 0<= grade1 <60 :
    print("F")
else:
    print ("r u sure?!")

if 90<= grade2 <=100 :
    print ("A")
elif 80<= grade2 <=89 :
    print ("B")
elif 70<= grade2 <=79 :
    print ("C")
elif 60<= grade2 <=69 :
    print ("D")
elif 0<= grade2 <60 :
    print("F")
else:
    print ("r u sure?!")

if 90<= grade3 <=100 :
    print ("A")
elif 80<= grade3 <=89 :
    print ("B")
elif 70<= grade3<=79 :
    print ("C")
elif 60<= grade3 <=69 :
    print ("D")
elif 0<= grade3 <60 :
    print("F")
else:
    print ("r u sure?!")

if 90<= grade4 <=100 :
    print ("A")
elif 80<= grade4 <=89 :
    print ("B")
elif 70<= grade4 <=79 :
    print ("C")
elif 60<= grade4 <=69 :
    print ("D")
elif 0<= grade4 <60 :
    print("F")
else:
    print ("r u sure?!")

if 90<= grade5 <=100 :
    print ("A")
elif 80<= grade5 <=89 :
    print ("B")
elif 70<= grade5 <=79 :
    print ("C")
elif 60<= grade5 <=69 :
    print ("D")
elif 0<= grade5 <60 :
    print("F")
else:
    print ("r u sure?!")

A
B
C
D
F

In [92]:
print((10 > 5) and (5 < 3))
print((10 > 5) or (5 < 3))
print(not (5 == 5))
print(1 < 3 < 5)
print(1 < 3 and 3 > 5)

False
True
False
True
False

## Loops

In [161]:
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for even in list1:
    if even % 2 == 0:
        print(even)

2
4
6
8
10

In [94]:
a = 10
while a > 0:
    print(a)
    a-=1
print('liftoff!')

10
9
8
7
6
5
4
3
2
1
liftoff!

In [95]:
i = 0
for i in range(1, 21):
    if i % 3 == 0:
        continue
    if i > 15:
        break
    print(i)

1
2
4
5
7
8
10
11
13
14

In [96]:
words = ['apple', 'banana', 'cherry']
for first_letter in words:
    print(first_letter[0])

a
b
c

In [97]:
numbers = [1, -2, 3, -4 , 5, -6, 7, -8]
for positive in numbers :
    if positive > 0:
        print(positive)
    else:
        print('negative')

1
negative
3
negative
5
negative
7
negative

In [98]:
matrix = [[1 , 2], [3 , 4], [5 , 6]]
for num in matrix: 
    for doubled in num:
        print(doubled*2)

2
4
6
8
10
12

In [99]:
matrix = [[1 , 2], [3 , 4], [5 , 6]]
doubled = [num*2 for r in matrix for num in r]
print(doubled)

[2, 4, 6, 8, 10, 12]

# 1.3: Advanced Data Structures and Functions - Exercises

## Dictionaries

In [100]:
movie = {
    'title':'harry potter',
    'director':'j.k rowling',
    'year': 1997,
    'genre':'fantasy literature',
}

In [101]:
print(movie['title'])
print(movie['genre'])
print(movie['year'])
print(movie['director'])

harry potter
fantasy literature
1997
j.k rowling

In [102]:
movie['rating'] = 9.9
movie

{'title': 'harry potter',
 'director': 'j.k rowling',
 'year': 1997,
 'genre': 'fantasy literature',
 'rating': 9.9}

In [103]:
movie['year'] = f'November {16}, {2001}'
movie

{'title': 'harry potter',
 'director': 'j.k rowling',
 'year': 'November 16, 2001',
 'genre': 'fantasy literature',
 'rating': 9.9}

In [104]:
del movie['genre']

In [105]:
print(movie)

{'title': 'harry potter', 'director': 'j.k rowling', 'year': 'November 16, 2001', 'rating': 9.9}

In [106]:
movie.keys()

dict_keys(['title', 'director', 'year', 'rating'])

In [107]:
movie.values()

dict_values(['harry potter', 'j.k rowling', 'November 16, 2001', 9.9])

In [108]:
m = movie.items()
m

dict_items([('title', 'harry potter'), ('director', 'j.k rowling'), ('year', 'November 16, 2001'), ('rating', 9.9)])

In [109]:
for i in m:
    print(i)

('title', 'harry potter')
('director', 'j.k rowling')
('year', 'November 16, 2001')
('rating', 9.9)

In [110]:
a = [(56,11),(12,3),(13,4),[1,22,3]]
for _ in a:
    print(_)

(56, 11)
(12, 3)
(13, 4)
[1, 22, 3]

In [111]:
if movie.get('producer'):
    print(movie['producer'])
else:
    print('unknown')

unknown

In [112]:
if movie.get('year'):
    print(movie['year'])
else:
    print('unknown')

November 16, 2001

In [113]:
result = "director" in movie
print(result)

True

In [114]:
employees = {
    'Alice': {'role':'developer', 'salary': 80000},
    'Bob' :{'role':'Designer', 'salary': 75000}    
}

In [115]:
print(employees['Alice']['role'])

developer

In [116]:
employees.get('Alice').get('role')

'developer'

In [117]:
employees['Bob']['salary'] = 77000
print(employees['Bob']['salary'])

77000

In [118]:
employees.update({
    'Bob': {'role':'designer','salary':78000}
})

In [119]:
employees.get('Bob')

{'role': 'designer', 'salary': 78000}

In [120]:
employees['Charlie']= {
    'role':'manager','salary':90000
}
print(employees['Charlie'])

{'role': 'manager', 'salary': 90000}

In [121]:
print(employees)

{'Alice': {'role': 'developer', 'salary': 80000}, 'Bob': {'role': 'designer', 'salary': 78000}, 'Charlie': {'role': 'manager', 'salary': 90000}}

## Sets

In [122]:
numbers = [10, 20, 30, 20, 40, 10, 50]
set(numbers)

{10, 20, 30, 40, 50}

In [123]:
unique_numbers = set(numbers)
print(unique_numbers)

{40, 10, 50, 20, 30}

In [124]:
print(sorted(unique_numbers))

[10, 20, 30, 40, 50]

In [125]:
unique_numbers.add(60)
unique_numbers.add(10)
print(sorted(unique_numbers))

[10, 20, 30, 40, 50, 60]

In [126]:
set1 ={1,2,3,4,5}
set2 ={4,5,6,7,8}

In [127]:
set1.union(set2)

{1, 2, 3, 4, 5, 6, 7, 8}

In [128]:
set1.intersection(set2)

{4, 5}

In [129]:
set1.difference(set2)

{1, 2, 3}

In [130]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

print(set1 - set2)

{1, 2, 3}

In [131]:
set2.difference(set1)

{6, 7, 8}

In [132]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

print(set2 - set1)

{8, 6, 7}

In [133]:
set2.symmetric_difference(set1)

{1, 2, 3, 6, 7, 8}

## Functions

In [134]:
def print_greeting():
    print("Hello World!")

In [135]:
print_greeting()

Hello World!

In [136]:
def calculate_area(width, height):
    return (width*height)
print(calculate_area(5,10))

50

In [137]:
def send_email(recipient,body,subject='No Subject'):
    return {
    'To':[recipient],
    'Subject':[subject],
    'Body':[body],
}

In [138]:
print(send_email('hello.world@gmail.com','HELLO!'))

{'To': ['hello.world@gmail.com'], 'Subject': ['No Subject'], 'Body': ['HELLO!']}

In [139]:
def is_positive(x):
    if x == 0:
        return "Neither positive nor negative"
    elif x < 0:
        return False
    else:
        return True

print(is_positive(5))
print(is_positive(-3))
print(is_positive(0))

True
False
Neither positive nor negative

In [140]:
def find_long_words(words, min_length):
    long_words = []
    for word in words:
        if len(word) > min_length:
            long_words.append(word)
    return long_words

In [141]:
words = ['apple','banana','cherry','date','elderberry']
min_length = 5
print(find_long_words(words, min_length))

['banana', 'cherry', 'elderberry']

In [142]:
def find_long_words(words, min_length):
    return [word for word in words if len(word) > min_length]

In [143]:
words = ['apple','banana','cherry','date','elderberry']
min_length = 5
print(find_long_words(words, min_length))

['banana', 'cherry', 'elderberry']

## Scope of Variables

In [144]:
x = 50

def update_x():
    x = 100
    print(f"Inside function: x = {x}")

update_x()
print(f"Outside function: x = {x}")

Inside function: x = 100
Outside function: x = 50

In [146]:
x = 50

def update_x():
    global x
    x = 100
    print(f"Inside function: x = {x}")

update_x()
print(f"Outside function: x = {x}")

Inside function: x = 100
Outside function: x = 100

# 1.4: Advanced Functions and Functional Programming - Exercises

## Lambda Functions

In [147]:
squarer = lambda x: x**2
print(squarer(8))

64

In [148]:
fruits = ['mango', 'apple', 'banana', 'cherry']
sorted_fruits = sorted(fruits, key=lambda last_character: last_character[-1])
print(sorted_fruits)

['banana', 'apple', 'mango', 'cherry']

In [149]:
multipler = lambda x,y: x*y
print(multipler(7,5))

35

## map, filter, and reduce

In [160]:
celsius_temps = [0,10,20,30,40]
farenheit = list(map(lambda celsius: (celsius*9/5)+32, celsius_temps))
print(farenheit)

[32.0, 50.0, 68.0, 86.0, 104.0]

In [ ]:
celsius_temps = [0, 10, 20, 30, 40]
farenheit = [(c * 9 / 5) + 32 for c in celsius_temps]
print(farenheit)

[32.0, 50.0, 68.0, 86.0, 104.0]

In [ ]:
numbers = [1,15,22,37,44,59,60,72]
filtered = filter(lambda num: (num%2 == 0 or num%3 == 0), numbers)
print(list(filtered))

[15, 22, 44, 60, 72]

In [ ]:
numbers = [1,15,22,37,44,59,60,72]
filtered = filter(lambda num: (num%2 == 0 and num%3 == 0), numbers)
print(list(filtered))

[60, 72]

In [ ]:
filtered = [num for num in numbers if num % 2 == 0 and num % 3 == 0]
print(filtered)

[60, 72]

In [ ]:
numbers = [1,2,3,4,5]
from functools import reduce
reduce(lambda x, y: x+y, numbers)

15

## List, Dictionary, and Set Comprehensions

In [ ]:
cubes = list(map(lambda x: x**3, range(1, 11)))
print(cubes)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [ ]:
cubes = [x**3 for x in range(1, 11)]
print(cubes)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [ ]:
words = ['programming','is','fun','and','powerful']
longwords = map(lambda long: len(long)>5, words)
list(longwords)

[True, False, False, False, True]

In [ ]:
words = ['programming','is','fun','and','powerful']
longwords = filter(lambda long: len(long)>5, words)
list(longwords)

['programming', 'powerful']

In [ ]:
b = {}
n = 6
a = 1
for i in range(1,n):
    a *= i
    b[i] = a

b

{1: 1, 2: 2, 3: 6, 4: 24, 5: 120}

In [ ]:
def factorial(n):
    result = 1
    for i in range(1, n + 1):
        result *= i
    return result
factorial(5)

120

In [ ]:
numbers = [1, 2, 3, 2, 4, 5, 4, 1]
unique_numbers = set(numbers)
squared_values = [num ** 2 for num in unique_numbers]
print(squared_values)

[1, 4, 9, 16, 25]

In [ ]:
numbers = [1, 2, 3, 2, 4, 5, 4, 1]
unique_numbers = (num for num in numbers if numbers.count(num) == 1)
print(list(unique_numbers))

[3, 5]

# Error Handling

In [ ]:
index = int(input('enter an index'))
my_list = [10, 20, 30, 40]
try:
    my_list[index]
except IndexError :
    print("error")

error

In [ ]:
my_list = [10, 20, 30, 40]
try:
    index = int(input('enter an index'))
    my_list[index]
except IndexError :
    print("error")
except ValueError :
    print("incorrect")

incorrect

In [ ]:
def divide(a, b):
    try:
        result =  a / b
    except ZeroDivisionError:
        print('error')
    else:
        print('Result:', result)
    finally:
        print('division attempt finished.')

divide(2,0)

error
division attempt finished.

## Raising Exceptions and Assertions

In [ ]:
def check_password_strength(password):
    password = str(password)
    if len(password) < 8:
        print('Password is too short!')
    elif len(password) >= 8:
       print('Password is strong.')

try:
    user_password = input('Enter your password: ')
    check_password_strength(user_password)
except Exception as e:
     print('Error:', e )

Password is strong.

In [ ]:
def calculate_discount(price, discount_percent):
    assert 100 >= discount_percent >= 0, 'invalid discount percentage'
    return price - price * discount_percent / 100

print(calculate_discount(20,20))
print(calculate_discount(20, 11))

16.0
17.8

# 1.5: Object-Oriented Programming (OOP) - Exercises

## Creating Classes

In [163]:
class Car:
    wheels = 4
    
    def drive(self):
        self.moving = True
        self.stopped = False
        return 'The car is moving.'
    def stop(self):
        self.moving = False
        self.stopped = True
        return 'The car has stopped.'

my_car = Car()
print(my_car.drive())
print(my_car.stop())

The car is moving.
The car has stopped.

In [164]:
class Car:
    wheels = 4
    
    def __init__(self, make = 'Ford', model = 'Mustang', year = 2020):
        self.make = make
        self.model = model
        self.year = year

    def describe(self):
        return f'This is a {self.year} {self.make}, {self.model}.'

In [165]:
class Car:
    wheels = 4
    
    def __init__(self, make, model, year):
        self.make = make
        self.model = model
        self.year = year

    def describe(self):
        return f'This is a {self.year} {self.make} {self.model}.'

my_car = Car('Ford', 'Mustang', 2020)
my_car.describe()

'This is a 2020 Ford Mustang.'

## Inheritance

In [168]:
class ElectricCar(Car):
    def __init__(self, make, model, year, battery_size):
        super().__init__(make, model, year)
        self.battery = battery_size

    def describe(self):
        base_description = super().describe().rstrip('.') 
        return f"{base_description} with a {self.battery} kWh"

e_car = ElectricCar('Tesla', 'Y', 2023, 75)
print(e_car.describe())

This is a 2023 Tesla Y with a 75 kWh

In [ ]:
class ElectricCar(Car):
    def __init__(self, make, model, year, battery_size):
        super().__init__(make, model, year)
        self.battery = battery_size

    def describe(self):
        return f'This is a {self.year} {self.make} {self.model} with a {self.battery}kWh'
    

e_car = ElectricCar('Tesla', 'Y', 2023, 75)
e_car.describe()

'This is a 2023 Tesla Y with a 75kWh'

In [ ]:
# Base Car class
class Car:
    wheels = 4  # class attribute, btn avtomobillrd eyni

    def __init__(self, make, model, year):
        self.make = make        # instance attribute
        self.model = model
        self.year = year

    def describe(self):
        """Return a simple description of the car."""
        return f"This is a {self.year} {self.make} {self.model}"

    def start(self):
        print(f"{self.make} {self.model} is starting...")

    def stop(self):
        print(f"{self.make} {self.model} has stopped.")


# Subclass ElectricCar inherits from Car
class ElectricCar(Car):
    def __init__(self, make, model, year, battery_size, range_km):
        super().__init__(make, model, year)  # call parent constructor
        self.battery_size = battery_size      # in kWh
        self.range_km = range_km              # driving range

    def describe(self):
        """Override parent method to include battery info."""
        base = super().describe()  # get description from Car
        return f"{base} with a {self.battery_size} kWh battery and {self.range_km} km range"

    @property
    def charge_time(self):
        """Estimate charging time based on battery size."""
        # simple estimate: 10 km per kWh per hour of charging
        hours = self.battery_size / 10
        return f"Approx {hours:.1f} hours to fully charge"

    def start(self):
        """Override start to show electric car behavior."""
        print(f"{self.make} {self.model} is now silent but ready to drive!")


# Using the classes
my_car = Car('Ford', 'Mustang', 2020)
print(my_car.describe())
my_car.start()
my_car.stop()

tesla = ElectricCar('Tesla', 'Model Y', 2023, 75, 500)
print(tesla.describe())
print(tesla.charge_time)
tesla.start()
tesla.stop()

This is a 2020 Ford Mustang
Ford Mustang is starting...
Ford Mustang has stopped.
This is a 2023 Tesla Model Y with a 75 kWh battery and 500 km range
Approx 7.5 hours to fully charge
Tesla Model Y is now silent but ready to drive!
Tesla Model Y has stopped.

In [ ]:
class Car:
    wheels = 4

    def __init__(self, make, model, year):
        self.make = make
        self.model = model
        self.year = year

    def describe(self):
        return f"This is a {self.year} {self.make} {self.model}"

class ElectricCar(Car):
    def __init__(self, make, model, year, battery_size):
        super().__init__(make, model, year)
        self.battery = battery_size

    def describe(self):
        return super().describe() + f" with a {self.battery} kWh"

e_car = ElectricCar('Tesla', 'Y', 2023, 75)
print(e_car.describe())

This is a 2023 Tesla Y with a 75 kWh

## Polymorphism and Encapsulation

In [169]:
class FuelCar(Car):
    def __init__(self, make, model, year, tank_size):
        super().__init__(make, model, year)
        self.tank = tank_size

    def refuel(self):
        print("The car is refueling.")

def electric_refuel(self):
    print("The car is charging.")

ElectricCar.refuel = electric_refuel   # sinif sonradan metod lav etm

cars = [
    ElectricCar("Tesla", "Model 3", 2024, 82),
    FuelCar("BMW", "M5", 2020, 60)
]

for car in cars:
    car.refuel()

The car is charging.
The car is refueling.

In [ ]:
class BankAccount:
    def __init__(self, owner, initial_balance):
        self.owner = owner
        self.__balance = initial_balance

    def deposit(self, amount):
        self.__balance += amount
        return f'{amount} added. New balance: {self.__balance}'
    
    def withdraw(self, amount):
        if amount > self.__balance:
            return 'Insufficient funds!'
        self.__balance -= amount
        return f'{amount} withdrawn. New balance: {self.__balance}'
    
    def get_balance(self):
        return self.__balance
    
asgar = BankAccount('Asgar',100)
print(asgar.deposit(10))
print(asgar.withdraw(20))
asgar.get_balance()

10 added. New balance: 110
20 withdrawn. New balance: 90

90

## More Class Practice

In [ ]:
import math

class Line:
    def __init__(self, point1, point2):
        self.point1 = point1
        self.point2 = point2

    def calculate_length(self):
        x1, y1 = self.point1
        x2, y2 = self.point2
        return math.sqrt((x2-x1)**2 + (y2-y1)**2)
    
    def calculate_slope(self):
        x1, y1 = self.point1
        x2, y2 = self.point2
        if x1==x2:
            return None
        return (y2-y1)/(x2-x1)
    
l = Line((0, 0), (0, 3))
print("Length:", l.calculate_length()) 
print("Slope:", l.calculate_slope())

Length: 3.0
Slope: None

In [ ]:
class Rectangle:
    def __init__(self, width, height):
        self.width = width
        self.height = height
        
    def calculate_area(self):
        return f'Area: {self.width * self.height}'
    
    def calculate_perimeter(self):
        return f'Perimeter: {2 * (self.width + self.height)}'
    
rect = Rectangle(5, 10)
print(rect.calculate_area())
print(rect.calculate_perimeter())

Area: 50
Perimeter: 30

In [ ]:
import math

class Cylinder:
    def __init__(self, radius, height):
        self.radius = radius
        self.height = height

    def calculate_volume(self):
        return math.pi * (self.radius**2) * self.height
    
    def calculate_surface_area(self):
        return 2 * math.pi * self.radius * (self.radius + self.height)
    
cyl = Cylinder (3,7)
print(f'Volume: {cyl.calculate_volume():.2f}')
print(f'Surface Area: {cyl.calculate_surface_area():.2f}')

Volume: 197.92
Surface Area: 188.50

## Special Methods

In [ ]:
class Book:
    def __init__(self,title, author, pages):
        self.title = title
        self.author = author
        self.pages = pages

    def __str__(self):
        return f'{self.title} by {self.author}, {self.pages} pages'
    
    def __len__(self):
        return self.pages

MyBook1 = Book('1984', 'George Orwell', 328)
print(MyBook1)
print(len(MyBook1))

1984 by George Orwell, 328 pages
328

## Data Classes

In [ ]:
from dataclasses import dataclass

@dataclass
class Book:
    title : str
    author : str
    pages : int


book1 = Book("Hobbit", "Tolkien", 310)
book2 = Book("Hobbit", "Tolkien", 310)

print(book1 == book2)  # True because dataclass provides __eq__ method
print(book1.__eq__(book2))  # Explicitly calling the equality method

print(book1)  # Uses the auto-generated __repr__ method

True
True
Book(title='Hobbit', author='Tolkien', pages=310)

## Built-in Decorators

In [ ]:
class StringUtils:
    @staticmethod
    def reverse(text):
        return text[::-1]
    
print(StringUtils.reverse("Hello World"))

dlroW olleH

In [ ]:
class Car:
    def __init__(self, make, model):
        self.make = make
        self.model = model
    @classmethod
    def from_string(cls, car_string):
        make, model = car_string.split('-')
        return cls(make, model)

car1 = Car.from_string("Toyota-Corolla")
print(car1.make, car1.model)

Toyota Corolla

In [ ]:
class Person:
    def __init__(self, first_name, last_name):
        self.first_name = first_name
        self.last_name = last_name

    @property
    def full_name(self):
        return f'{self.first_name} {self.last_name}'
person = Person('Asgar', 'Aliyev')
print(person.full_name)

Asgar Aliyev

In [ ]:
class Person:
    def __init__(self, first_name, last_name):
        self.first_name = first_name
        self.last_name = last_name

    @property
    def full_name(self):
        return f"{self.first_name} {self.last_name}"

    @full_name.setter
    def full_name(self, name):
        first, last = name.split(" ", 1)
        self.first_name = first
        self.last_name = last

## 1.6: Advanced Data Structures and Iterators - Exercises