In [123]:
print ("Hello World")

Hello World

## Basic Operators

In [124]:
10 + 5 * 3

25

In [125]:
(10 + 5) * 3

45

In [126]:
20 / 4

5.0

In [127]:
20 // 4

5

In [128]:
21//4

5

In [129]:
21 % 4

1

In [130]:
5 ** 5

3125

In [131]:
5 + 3 * 2 - 8 / 4 ** 2

10.5

In [132]:
50 > 100

False

In [133]:
33 == 33.0

True

In [134]:
'hello' != 'world'

True

In [135]:
len("python") >= 5

True

## Variables and Data Types

In [136]:
city = 'New York'
print (city)

New York

In [137]:
city = 'New York'
city = city.replace ('New York', 'London')
print(city)

London

In [138]:
score = 100
score -= 25
score *= 2
score

150

1st_place # false

first-place # false

_first_place

for # false

FirstPlace

In [141]:
99 # integer
"99" # string
99.0 # float
False # bool
None # NoneType

In [142]:
price_str = "25.99"
price_float = float(price_str)
print (price_str)
print (price_float)

25.99
25.99

In [143]:
quantity = 3
quantity = str(quantity)
quantity

'3'

In [144]:
print (quantity + " " + 'items.')

3 items.

## Strings in Detail

In [145]:
first_name = "Asgar"
last_name = "Aliyev"
full_name = first_name + " " + last_name
separator = "-"*30
print(full_name + " " + separator)

Asgar Aliyev ------------------------------

In [146]:
print("The file is located at: \nC:\\Users\\new_folder\\tabbed_file.txt \nhe said, \"It's a beautiful day.\" ")

The file is located at:
C:\Users\new_folder\tabbed_file.txt
he said, "It's a beautiful day."

In [147]:
print("The file is located at:" "\n" r"C:\Users\new_folder\tabbed_file.txt " "\n" "he said, r""It's a beautiful day.\"")

The file is located at:
C:\Users\new_folder\tabbed_file.txt
he said, rIt's a beautiful day."

In [148]:
print("""The file is located at:
C:\\Users\\new_folder\\tabbed_file.txt
he said, "It's a beautiful day." """)

The file is located at:
C:\Users\new_folder\tabbed_file.txt
he said, "It's a beautiful day."

In [149]:
s = "Programming is fun!"
print (s[3])

g

In [150]:
print(s[-1])

!

In [151]:
print(s[11:13])

 i

In [152]:
print(s[3:7])

gram

In [153]:
print(s[::-1])

!nuf si gnimmargorP

In [154]:
tweet = ' WOW, what a great game! #sports #python '

In [155]:
tweet = tweet.lower()
tweet

' wow, what a great game! #sports #python '

In [156]:
print(tweet.strip())

wow, what a great game! #sports #python

In [157]:
tweet.replace("#python", "#DataScience")

' wow, what a great game! #sports #DataScience '

In [158]:
tweet.split()

['wow,', 'what', 'a', 'great', 'game!', '#sports', '#python']

## Basic Input and Output

In [159]:
name = (input("What is your Name:"))

In [160]:
print("Hello" +' ' + name + "!")

Hello Asgar!

In [161]:
year = int(input ('Year:'))
birth = int(input ('Birth year:'))
age = year - birth
print ('your age:' , age)

your age: 20

In [162]:
item = "laptop"
price = 1200.50
quantity = 2
total_cost = price * quantity
print (f"item: {item}, \nquantity: {quantity}, \ntotal cost: {total_cost}$")

item: laptop,
quantity: 2,
total cost: 2401.0$

# 1.2: Data Structures and Control Flow - Exercises

## Lists

In [222]:
colors = ['red', 'green', 'blue', 'yellow', 'purple']
print (colors)

['red', 'green', 'blue', 'yellow', 'purple']

In [223]:
colors

['red', 'green', 'blue', 'yellow', 'purple']

In [224]:
print(colors[2])

blue

In [225]:
print (colors[::-1])

['purple', 'yellow', 'blue', 'green', 'red']

In [226]:
print (colors[-1])

purple

In [227]:
primary_colors = colors[0:3]
print (primary_colors)

['red', 'green', 'blue']

In [228]:
colors_str= str(colors)
colors_str.replace("yellow", "magenta")

"['red', 'green', 'blue', 'magenta', 'purple']"

In [232]:
colors = ['red', 'green', 'blue', 'yellow', 'purple']
colors[colors.index("yellow")] = "magenta"
print (colors)

['red', 'green', 'blue', 'magenta', 'purple']

In [248]:
colors = ['red', 'green', 'blue', 'yellow', 'purple']
colors[3] = "magenta"
colors.append('cyan')
colors.insert(1, 'orange')
colors.remove('blue')
print (colors)

['red', 'orange', 'green', 'magenta', 'purple', 'cyan']

In [260]:
tic_tac_toe = [['X', 'O', 'X'], ['O', 'X', 'O'], ['X', 'O', ' ']]

In [261]:
print (tic_tac_toe [1][1])

X

In [262]:
tic_tac_toe[2][2] = 'O'

In [264]:
print(tic_tac_toe)

[['X', 'O', 'X'], ['O', 'X', 'O'], ['X', 'O', 'O']]

## Tuples

In [271]:
weekdays = ('monday', 'tuesday', 'wednesday', 'thursday', 'friday')
# errorrrrrr 
weekdays = ['monday', 'tuesday', 'wednesday', 'thursday', 'friday']
weekdays[0] = 'funday'
print(weekdays[3])
print (weekdays)

thursday
['funday', 'tuesday', 'wednesday', 'thursday', 'friday']

## Conditional Statements

In [304]:
grade = int(input ("Enyer your grade (0-100): "))
if 90<= grade <=100 :
    print ("A")
elif 80<= grade <=89 :
    print ("B")
elif 70<= grade <=79 :
    print ("C")
elif 60<= grade <=69 :
    print ("D")
elif 0<= grade <60 :
    print("F")
else:
    print ("r u sure?!")

r u sure?!

In [313]:
grade1 = 95
grade2 = 82
grade3 = 78
grade4 = 61
grade5 = 45

if 90<= grade1 <=100 :
    print ("A")
elif 80<= grade1 <=89 :
    print ("B")
elif 70<= grade1 <=79 :
    print ("C")
elif 60<= grade1 <=69 :
    print ("D")
elif 0<= grade1 <60 :
    print("F")
else:
    print ("r u sure?!")

if 90<= grade2 <=100 :
    print ("A")
elif 80<= grade2 <=89 :
    print ("B")
elif 70<= grade2 <=79 :
    print ("C")
elif 60<= grade2 <=69 :
    print ("D")
elif 0<= grade2 <60 :
    print("F")
else:
    print ("r u sure?!")

if 90<= grade3 <=100 :
    print ("A")
elif 80<= grade3 <=89 :
    print ("B")
elif 70<= grade3<=79 :
    print ("C")
elif 60<= grade3 <=69 :
    print ("D")
elif 0<= grade3 <60 :
    print("F")
else:
    print ("r u sure?!")

if 90<= grade4 <=100 :
    print ("A")
elif 80<= grade4 <=89 :
    print ("B")
elif 70<= grade4 <=79 :
    print ("C")
elif 60<= grade4 <=69 :
    print ("D")
elif 0<= grade4 <60 :
    print("F")
else:
    print ("r u sure?!")

if 90<= grade5 <=100 :
    print ("A")
elif 80<= grade5 <=89 :
    print ("B")
elif 70<= grade5 <=79 :
    print ("C")
elif 60<= grade5 <=69 :
    print ("D")
elif 0<= grade5 <60 :
    print("F")
else:
    print ("r u sure?!")

A
B
C
D
F

In [315]:
print((10 > 5) and (5 < 3))
print((10 > 5) or (5 < 3))
print(not (5 == 5))
print(1 < 3 < 5)
print(1 < 3 and 3 > 5)

False
True
False
True
False

## Loops

In [4]:
list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for even in list:
    if even % 2 == 0:
        print(even)

2
4
6
8
10

In [26]:
a = 10
while a > 0:
    print(a)
    a-=1
print('liftoff!')

10
9
8
7
6
5
4
3
2
1
liftoff!

In [42]:
i = 0
for i in range(1, 21):
    if i % 3 == 0:
        continue
    if i > 15:
        break
    print(i)

1
2
4
5
7
8
10
11
13
14

In [45]:
words = ['apple', 'banana', 'cherry']
for first_letter in words:
    print(first_letter[0])

a
b
c

In [55]:
numbers = [1, -2, 3, -4 , 5, -6, 7, -8]
for positive in numbers :
    if positive > 0:
        print(positive)
    else:
        print('negative')

1
negative
3
negative
5
negative
7
negative

In [67]:
matrix = [[1 , 2], [3 , 4], [5 , 6]]
for num in matrix: 
    for doubled in num:
        print(doubled*2)

2
4
6
8
10
12

In [70]:
matrix = [[1 , 2], [3 , 4], [5 , 6]]
doubled = [num*2 for r in matrix for num in r]
print(doubled)

[2, 4, 6, 8, 10, 12]

# 1.3: Advanced Data Structures and Functions - Exercises

## Dictionaries

In [3]:
movie = {
    'title':'harry potter',
    'director':'j.k rowling',
    'year': 1997,
    'genre':'fantasy literature',
}

In [4]:
print(movie['title'])
print(movie['genre'])
print(movie['year'])
print(movie['director'])

harry potter
fantasy literature
1997
j.k rowling

In [5]:
movie['rating'] = 9.9
movie

{'title': 'harry potter',
 'director': 'j.k rowling',
 'year': 1997,
 'genre': 'fantasy literature',
 'rating': 9.9}

In [6]:
movie['year'] = f'November {16}, {2001}'
movie

{'title': 'harry potter',
 'director': 'j.k rowling',
 'year': 'November 16, 2001',
 'genre': 'fantasy literature',
 'rating': 9.9}

In [7]:
del movie['genre']

In [8]:
print(movie)

{'title': 'harry potter', 'director': 'j.k rowling', 'year': 'November 16, 2001', 'rating': 9.9}

In [9]:
movie.keys()

dict_keys(['title', 'director', 'year', 'rating'])

In [10]:
movie.values()

dict_values(['harry potter', 'j.k rowling', 'November 16, 2001', 9.9])

In [11]:
m = movie.items()
m

dict_items([('title', 'harry potter'), ('director', 'j.k rowling'), ('year', 'November 16, 2001'), ('rating', 9.9)])

In [12]:
for i in m:
    print(i)

('title', 'harry potter')
('director', 'j.k rowling')
('year', 'November 16, 2001')
('rating', 9.9)

In [13]:
a = [(56,11),(12,3),(13,4),[1,22,3]]
for _ in a:
    print(_)

(56, 11)
(12, 3)
(13, 4)
[1, 22, 3]

In [14]:
if movie.get('producer'):
    print(movie['producer'])
else:
    print('unknown')

unknown

In [15]:
if movie.get('year'):
    print(movie['year'])
else:
    print('unknown')

November 16, 2001

In [16]:
result = "director" in movie
print(result)

True

In [45]:
employees = {
    'Alice': {'role':'developer', 'salary': 80000},
    'Bob' :{'role':'Designer', 'salary': 75000}    
}

In [46]:
print(employees['Alice']['role'])

developer

In [47]:
employees.get('Alice').get('role')

'developer'

In [48]:
employees['Bob']['salary'] = 77000
print(employees['Bob']['salary'])

77000

In [49]:
employees.update({
    'Bob': {'role':'designer','salary':78000}
})

In [50]:
employees.get('Bob')

{'role': 'designer', 'salary': 78000}

In [51]:
employees['Charlie']= {
    'role':'manager','salary':90000
}
print(employees['Charlie'])

{'role': 'manager', 'salary': 90000}

In [52]:
print(employees)

{'Alice': {'role': 'developer', 'salary': 80000}, 'Bob': {'role': 'designer', 'salary': 78000}, 'Charlie': {'role': 'manager', 'salary': 90000}}

## Sets

In [118]:
numbers = [10, 20, 30, 20, 40, 10, 50]
set(numbers)

{10, 20, 30, 40, 50}

In [119]:
unique_numbers = set(numbers)
print(unique_numbers)

{40, 10, 50, 20, 30}

In [120]:
print(sorted(unique_numbers))

[10, 20, 30, 40, 50]

In [121]:
unique_numbers.add(60)
unique_numbers.add(10)
print(sorted(unique_numbers))

[10, 20, 30, 40, 50, 60]

In [123]:
set1 ={1,2,3,4,5}
set2 ={4,5,6,7,8}

In [124]:
set1.union(set2)

{1, 2, 3, 4, 5, 6, 7, 8}

In [125]:
set1.intersection(set2)

{4, 5}

In [126]:
set1.difference(set2)

{1, 2, 3}

In [130]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

print(set1 - set2)

{1, 2, 3}

In [131]:
set2.difference(set1)

{6, 7, 8}

In [132]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

print(set2 - set1)

{8, 6, 7}

In [135]:
set2.symmetric_difference(set1)

{1, 2, 3, 6, 7, 8}

## Functions

In [139]:
def print_greeting():
    print("Hello World!")

In [141]:
print_greeting()

Hello World!

In [147]:
def calculate_area(width, height):
    return (width*height)
print(calculate_area(5,10))

50

In [176]:
def send_email(recipient,body,subject='No Subject'):
    return {
    'To':[recipient],
    'Subject':[subject],
    'Body':[body],
}

In [178]:
print(send_email('hello.world@gmail.com','HELLO!'))

{'To': ['hello.world@gmail.com'], 'Subject': ['No Subject'], 'Body': ['HELLO!']}

In [215]:
def is_positive(x):
    if x == 0:
        return "Neither positive nor negative"
    elif x < 0:
        return False
    else:
        return True

print(is_positive(5))
print(is_positive(-3))
print(is_positive(0))

True
False
Neither positive nor negative

In [224]:
def find_long_words(words, min_length):
    long_words = []
    for word in words:
        if len(word) > min_length:
            long_words.append(word)
    return long_words

In [225]:
words = ['apple','banana','cherry','date','elderberry']
min_length = 5
print(find_long_words(words, min_length))

['banana', 'cherry', 'elderberry']

In [226]:
def find_long_words(words, min_length):
    return [word for word in words if len(word) > min_length]

In [227]:
words = ['apple','banana','cherry','date','elderberry']
min_length = 5
print(find_long_words(words, min_length))

['banana', 'cherry', 'elderberry']

## Scope of Variables

In [228]:
x = 50

def update_x():
    x = 100
    print(f"Inside function: x = {x}")

update_x()
print(f"Outside function: x = {x}")

Inside function: x = 100
Outside function: x = 50

In [229]:
x = 50

def update_x_global():
    # Your code here to modify global x
    pass # Remove this line

update_x_global()
print(f"Outside function: x = {x}")

Outside function: x = 50

In [232]:
x = 50

def update_x():
    global x
    x = 100
    print(f"Inside function: x = {x}")

update_x()
print(f"Outside function: x = {x}")

Inside function: x = 100
Outside function: x = 100

# 1.4: Advanced Functions and Functional Programming - Exercises

## Lambda Functions

In [240]:
squarer = lambda x: x**2
print(squarer(8))

64

In [263]:
fruits = ['mango', 'apple', 'banana', 'cherry']
sorted_fruits = sorted(fruits, key=lambda last_character: last_character[-1])
print(sorted_fruits)

['banana', 'apple', 'mango', 'cherry']

In [264]:
multipler = lambda x,y: x*y
print(multipler(7,5))

35

## map, filter, and reduce

In [274]:
celsius_temps = [0,10,20,30,40]
farenheit = map(lambda celsius: (celsius*9/5)+32, celsius_temps)
print(list(farenheit))

[32.0, 50.0, 68.0, 86.0, 104.0]

In [275]:
celsius_temps = [0, 10, 20, 30, 40]
farenheit = [(c * 9 / 5) + 32 for c in celsius_temps]
print(farenheit)

[32.0, 50.0, 68.0, 86.0, 104.0]

In [280]:
numbers = [1,15,22,37,44,59,60,72]
filtered = filter(lambda num: (num%2 == 0 or num%3 == 0), numbers)
print(list(filtered))

[15, 22, 44, 60, 72]

In [281]:
numbers = [1,15,22,37,44,59,60,72]
filtered = filter(lambda num: (num%2 == 0 and num%3 == 0), numbers)
print(list(filtered))

[60, 72]

In [282]:
filtered = [num for num in numbers if num % 2 == 0 and num % 3 == 0]
print(filtered)

[60, 72]

In [288]:
numbers = [1,2,3,4,5]
from functools import reduce
reduce(lambda x, y: x+y, numbers)

15

## List, Dictionary, and Set Comprehensions

In [33]:
cubes = list(map(lambda x: x**3, range(1, 11)))
print(cubes)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [34]:
cubes = [x**3 for x in range(1, 11)]
print(cubes)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [66]:
words = ['programming','is','fun','and','powerful']
longwords = map(lambda long: len(long)>5, words)
list(longwords)

[True, False, False, False, True]

In [67]:
words = ['programming','is','fun','and','powerful']
longwords = filter(lambda long: len(long)>5, words)
list(longwords)

['programming', 'powerful']

In [8]:
b = {}
n = 6
a = 1
for i in range(1,n):
    a *= i
    b[i] = a

b

{1: 1, 2: 2, 3: 6, 4: 24, 5: 120}

In [11]:
def factorial(n):
    result = 1
    for i in range(1, n + 1):
        result *= i
    return result
factorial(5)

120

In [45]:
numbers = [1, 2, 3, 2, 4, 5, 4, 1]
unique_numbers = set(numbers)
squared_values = [num ** 2 for num in unique_numbers]
print(squared_values)

[1, 4, 9, 16, 25]

In [46]:
numbers = [1, 2, 3, 2, 4, 5, 4, 1]
unique_numbers = (num for num in numbers if numbers.count(num) == 1)
print(list(unique_numbers))

[3, 5]

# Error Handling

In [5]:
index = int(input('enter an index'))
my_list = [10, 20, 30, 40]
try:
    my_list[index]
except IndexError :
    print("error")

error

In [7]:
my_list = [10, 20, 30, 40]
try:
    index = int(input('enter an index'))
    my_list[index]
except IndexError :
    print("error")
except ValueError :
    print("incorrect")

incorrect

In [36]:
def divide(a, b):
    try:
        result =  a / b
    except ZeroDivisionError:
        print('error')
    else:
        print('Result:', result)
    finally:
        print('division attempt finished.')

divide(2,0)

error
division attempt finished.

## Raising Exceptions and Assertions

In [39]:
def check_password_strength(password):
    password = str(password)
    if len(password) < 8:
        print('Password is too short!')
    elif len(password) >= 8:
       print('Password is strong.')

try:
    user_password = input('Enter your password: ')
    check_password_strength(user_password)
except Exception as e:
     print('Error:', e )

Password is strong.

In [74]:
def calculate_discount(price, discount_percent):
    assert 100 >= discount_percent >= 0, 'invalid discount percentage'
    return price - price * discount_percent / 100

print(calculate_discount(20,20))
print(calculate_discount(20, 11))

16.0
17.8

# 1.5: Object-Oriented Programming (OOP) - Exercises

## Creating Classes

In [3]:
class Car:
    wheels = 4
    
    def drive(self):
        self.moving = True
        self.stopped = False
        return 'The car is moving.'
    def stop(self):
        self.moving = False
        self.stopped = True
        return 'The car has stopped.'

my_car = Car()
print(my_car.drive())
print(my_car.stop())

The car is moving.
The car has stopped.

In [18]:
class Car:
    wheels = 4
    
    def __init__(self, make = 'Ford', model = 'Mustang', year = 2020):
        self.make = make
        self.model = model
        self.year = year

    def describe(self):
        return f'This is a {self.year} {self.make}, {self.model}.'

Car.describe(a)

'This is a 2020 Ford, Mustang.'

In [21]:
class Car:
    wheels = 4
    
    def __init__(self, make, model, year):
        self.make = make
        self.model = model
        self.year = year

    def describe(self):
        return f'This is a {self.year} {self.make} {self.model}.'

my_car = Car('Ford', 'Mustang', 2020)
my_car.describe()

'This is a 2020 Ford Mustang.'

## Inheritance